.jumbotron {
  background-color: $gray-darker;
  color: $gray-lighter;
  
  p {
    font-family: $font-family-monospace;
    text-align: left;
    white-space: pre-wrap;
    
    .bull {
      color: $gray;
    }
  }
}

.form {
  .input-group {
    margin-bottom: 0.5em;
  }
}

.footer {
  text-align: center;
  .heart {
    height: 1.5em;
    width: 1.5em;
    vertical-align: middle;

    * {
      fill: #da3a35;
    }
  }
}